#   \\
#  \\\\ SPIKE: Secure your secrets with SPIFFE. — https://spike.ist/
# \\\\\\

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env
.env.*

# Generated binaries.
bin

# IDE
.idea
.code
.vscode
.history
*.DS_Store
*.iml

# App-specific:
.spike-token
.spike-admin-token
.spire-agent-join-token
.data
.pilot-token

keeper-darwin-arm64.sum.txt
keeper-linux-amd64.sum.txt
keeper-linux-arm64.sum.txt
nexus-darwin-arm64.sum.txt
checksums.sha256
nexus-linux-amd64.sum.txt
nexus-linux-arm64.sum.txt
spike-darwin-arm64.sum.txt
spike-linux-amd64.sum.txt
spike-linux-arm64.sum.txt
bootstrap-darwin-arm64.sum.txt
bootstrap-linux-amd64.sum.txt
bootstrap-linux-arm64.sum.txt

# logs
*.log

# Other
/ci-test
/identifier.sqlite
/demo
/docs-src/public
/spiffe-rendered.yaml
/spire-crds-rendered.yaml

# Claude
/PLAN.md
/TEST_COVERAGE_ANALYSIS.md

# For SKD debugging while building images
spike-sdk-go

# WSL
*:Zone.Identifier
