<nav>
  {% include "components/navBanner.html" %} {% include "components/navTree.html"
  %}
</nav>
<style>
  nav {
    position: sticky;
    width: 300px;
    height: 100vh;
    top: 0;
    max-height: 100vh;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
    z-index: 100;
    box-shadow: 5px 0 20px var(--shadow-color);
    border-right: 1px solid var(--border-color);
    transition: transform 0.4s ease-in-out;
    background-color: var(--bg-primary);
  }

  nav::-webkit-scrollbar {
    width: 8px;
  }

  nav::-webkit-scrollbar-track {
    background: transparent;
  }

  nav::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    border: 2px solid transparent;
  }

  @media (max-width: 1300px) {
    .nav-toggle {
      display: none;
    }

    nav {
      position: fixed;
      transform: translateX(-100%);
      width: 85%;
      max-width: 300px;
      height: calc(100vh - 57px);
      top: 57px;
    }

    nav.active {
      transform: translateX(0);
    }
  }
</style>
