name: CI
on:
  pull_request: {}
  push:
    branches:
      - main

jobs:
  go-build:
    # This job effectively exists to ensure that the code can still be built
    # with the proposed changes.
    name: Go - Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
      checks: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - run: make build
  go-unit-test:
    name: Go - Unit Tests
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
      checks: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - name: Unit Tests
        run: go test -race -shuffle=on -coverprofile=coverage.txt ./...
  go-lint:
    name: Go - Lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
      checks: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v5
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.64
  integration:
    name: Integration Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v3.5
        with:
          version: v3.16.2

      - name: Create kind v1.33.1 cluster
        uses: helm/kind-action@v1.9.0
        # Only build a kind cluster if there are chart changes to test.
        with:
          version: v0.24.0
          node_image: kindest/node:v1.33.1
          config: .github/kind/conf/kind-config.yaml
          verbosity: 1

      - name: Create kind ${{ matrix.k8s }} cluster
        run: |
          set -xe
          teardown() {
            kubectl get pods -A
            kubectl describe pods -A
          }
          trap 'EC=$? && trap - SIGTERM && teardown $EC' SIGINT SIGTERM EXIT
          make docker-build
          docker images
          docker tag spike-pilot:dev ghcr.io/spiffe/spike-pilot:dev
          docker tag spike-nexus:dev ghcr.io/spiffe/spike-nexus:dev
          docker tag spike-keeper:dev ghcr.io/spiffe/spike-keeper:dev
          kind load docker-image ghcr.io/spiffe/spike-pilot:dev
          kind load docker-image ghcr.io/spiffe/spike-nexus:dev
          kind load docker-image ghcr.io/spiffe/spike-keeper:dev
          cd ci/integration/minio-rolearn
          ./setup.sh
          ./test.sh
