name: Build and Push to Docker Hub

on:
  release:
    types: [published]

env:
  REGISTRY: ghcr.io
  REPOSITORY: spiffe
  DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
  COSIGN_EXPERIMENTAL: 1
  DOCKER_CONTENT_TRUST: 1

jobs:
  docker:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        app: [pilot, keeper, nexus]
        arch: [linux/amd64, linux/arm64]
    permissions:
      contents: read
      packages: write
      id-token: write # needed for signing the images with GitHub OIDC Token

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.release.tag_name }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Install cosign
        uses: sigstore/cosign-installer@v3.3.0

      - name: Login to Docker HUB
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Build and push images using the script
      - name: Build and push images
        run: |
          # Extract version from release tag
          VERSION="${{ github.event.release.tag_name }}"
          VERSION=${VERSION#v}  # Remove 'v' prefix if present
          
          ./k8s/build-push-sign.sh ${{ matrix.app }} ${{ matrix.arch }} ${VERSION} ${{ env.REGISTRY }} ${{ env.REPOSITORY }}

#      - name: Sign the images with GitHub OIDC (Cosign)
#        env:
#          DIGEST: ${{ steps.build-and-load.outputs.digest }}
#          TAGS: ${{ steps.meta.outputs.tags }}
#        run: |
#          echo "${TAGS}" | tr ',' '\n' | while read -r tag; do
#            cosign sign --yes "${tag}@${DIGEST}"
#          done
